@{
    ViewData["Title"] = "Tomteverkstad";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @ViewBag.print
</div>

<form method="post" action="@Url.Action("Index", "Home")">
    <input type="submit" name="submit" value="Login">
</form>

<br />
<p> Name of all tomtenissar </p>

<select name="dropdown">
    @foreach (var Tomtenisse in ViewBag.AllTomtenissar.Rows)
    {   
        <option>@Tomtenisse[0]</option>
    }
</select>

<br />
<br />

<form method="post" action="@Url.Action("Tomteverkstad", "Home")">
    <p> Search for Tomtenissar </p>
    <input type="hidden" name="formID" value="searchTomtenissar">
    <input type="text" name="Name" value= @ViewBag.name>
    <input type="submit" name="submit" value="Submit">
</form>

<br />


@if(ViewBag.Tomtenissar != null && ((System.Data.DataTable)ViewBag.Tomtenissar).Rows.Count > 0){

    @foreach (var Tomtenisse in ViewBag.Tomtenissar.Rows)
    {   
        <pre>
            @for (var i = 0; i < ViewBag.Tomtenissar.Columns.Count; i++)
            {
                <div>@ViewBag.Tomtenissar.Columns[i] : @Tomtenisse[i]</div>
            }
            @Html.ActionLink("Delete", "DeleteTomtenisse", "Home", new{Name = @Tomtenisse[0], PNR = @Tomtenisse[1]}, null)
        </pre>
       
    }
}
else{
    <p>no data found</p>
}


<br />

<form method="post" action="@Url.Action("Tomteverkstad", "Home")">
    <p> Create tomtenisse </p>
    Name of tomtenisse
    <input type="text" name="Name" value=""> <br>
    ID of tomtenisse
    <input type="text" name="CId" value=""> <br>
    Amount of nuts earned
    <input type="number" name="Nuts" value=""> <br>
    Amount of raisin earned
    <input type="number" name="Raisin" value=""> <br>
    <input type="hidden" name="formID" value="create">
    <input type="submit" name="submit" value="Submit">
</form>

<br />

@if (ViewBag.createStatus != null)
{
    <p>@ViewBag.createStatus</p>
}

<br />

<form method="post" action="@Url.Action("Tomteverkstad", "Home")">
    <p> Make chefnisse </p>
    Name of tomtenisse
    <input type="text" name="Name" value=""> <br>
    ID of tomtenisse
    <input type="text" name="ChefId" value=""> <br>
    Shoe size <br>
    <input type="radio" id="none" name="Shoesize" value="none">
    <label for="none">None</label> <br>
    <input type="radio" id="mini" name="Shoesize" value="mini">
    <label for="mini">Mini</label> <br>
    <input type="radio" id="medium" name="Shoesize" value="medium">
    <label for="medium">Medium</label> <br>
    <input type="radio" id="maxi" name="Shoesize" value="maxi">
    <label for="maxi">Maxi</label> <br>
    <input type="radio" id="ultra" name="Shoesize" value="ultra">
    <label for="ultra">Ultra</label> <br>
    <input type="radio" id="mega" name="Shoesize" value="mega">
    <label for="mega">Mega</label> <br>
    <input type="hidden" name="formID" value="update">
    <input type="submit" name="submit" value="Submit">
</form>

<br />

@if (ViewBag.updateStatus != null)
{
    <p>@ViewBag.updateStatus</p>
}

<br />

<form method="post" action="@Url.Action("Tomteverkstad", "Home")">
    <p> Get toys by prise </p>
    Price of toy
    <input type="number" name="Prise" value=""> <br>
    <input type="hidden" name="formID" value="searchLeksaker">
    <input type="submit" name="submit" value="Submit">
</form>

<br />

@if (ViewBag.leksaker != null && ((System.Data.DataTable)ViewBag.leksaker).Rows.Count > 0) {

    @foreach (var Leksak in ViewBag.leksaker.Rows)
    {
        <pre>
            @for (var i = 0; i < ViewBag.leksaker.Columns.Count; i++)
            {
                <div>@ViewBag.leksaker.Columns[i] : @Leksak[i]</div>
            }
        </pre>

    }
}
else {
    <p>no data found</p>
}

 